.centered {
    text-align: center;
}

.centered h1 {
    font-family: 'Poppins';
    font-size: 50px;
    margin-top: 70px;
}

.centered h2 {
    font-family: 'Poppins';
    font-size: 20px;
    padding: 30px;
    color: darkcyan;
}

.centered h3 {
    font-family: 'Poppins';
    margin-bottom: 25px;
}

.i-button {
    margin: 0;
}

.gb {
    background-color: #fcba03;
    display: inline-block;
    border-radius: 25px;
}

.card-shirt {
    border: 10px solid #8fd4b7;
    display: inline-block;
    padding: 10px;
    border-radius: 25px;
    padding-top: 5px;
    width: 350px;
    overflow: none;
    height: 466px;
    
}

.card-image {
    width: 300px;
    height: 350px;
    object-fit: contain
}

