@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap");

.main-webpage-hero {
  width: 100%;
  height: 200px;
  object-fit: cover;
  z-index: -1;
}

header {
    width: 100%;
  /* background-image: url("../images/main-webpage-hero.jpg"); */
  background-image: url("../images/home-hero.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  height: 200px;
  background-position: center;    
  font-family: "Poppins";
/*  display: flex;*/
}

.pfp {
  width: 100px;
  margin-left: 65%;
  margin-top: 74px;
    display: inline-block;
}

.title-header {
  width: 25rem;
  padding: 30px;
  border-radius: 15px;
  margin-top: -96px;
  margin-left: 9%;
  );
}

.main-header-2 {
  color: #458e67;
  text-align: center;
  font-size: 25px;
}

.glass-button {
   display: inline-block;
   padding: 20px 32px;;
   border: 0;
    font-family: 'Poppins';
   text-decoration: none;
   border-radius: 15px;
   background-color: rgba(255,255,255,0.1);
   border: 1px solid rgba(255,255,255,0.1);
   backdrop-filter: blur(30px);
   color: rgb(72,141,104);
   font-size: 14px;
/*   letter-spacing: 2px;*/
   cursor: pointer;
   text-transform: uppercase;
/*    float: left;*/
    transition-duration: 0.2s;
    margin-left: 20px;
    margin-top: 20px;
 }

.nbar {
    text-align: center;
}

.glass-button a {
    text-decoration: none;
    color: rgb(72,141,104);
    transition-duration: 0.2s;
}

.add-glass-back {
   border: 0;
    font-family: 'Poppins';
   text-decoration: none;
   border-radius: 15px;
   background-color: rgba(255,255,255,0.1);
   border: 1px solid rgba(255,255,255,0.1);
   backdrop-filter: blur(30px);
   color: rgb(72,141,104);
   text-transform: uppercase;
    transition-duration: 0.2s;
 }

.glass-button a:hover {
    color: white;
}

.content-1 {
/*    margin: 40px;*/
/*    margin-top: 100px;*/
    display: inline-block;
    border: 10px solid rgb(143, 212, 183);
    border-radius: 25px;
    width: 550px;
    height: 300px;
/*    background-image: url(../images/babolat-pure-drive-racket.jpg);*/
    background-size: 100%;
    margin: 20px;
    
}

.content-0 {
    background-image: url(../images/racket-selection-hero.jpg);
}

.content-2 {
    background-image: url(../images/wilson-blade-racket.jpg);
}

.content-3 {
    background-image: url(../images/apparel-hero.jpg);
}

.content-4 {
    background-image: url(../images/head-tennis-racket.jpg)
}


.card-heading {
    font-family: "Poppins";
    color: white;
    font-size: 50px;
    margin-left: 30px;
    margin-top: 230px;
    
}

.main-cards {
    align-content: center;
    text-align: center;
    display: inline-block;
    text-align: center;
    margin-top: 75px;
    max-width: 1257px;
    margin-left: 30%;
    margin-right: 30%;
/*
    float: right;
    margin-right: 20%;
*/
}

/*
@media (min-width: 1300px) {
    .main-cards {
        float: right;
        margin-right: 1%;
    }
}

@media (min-width: 1360px) {
    .main-cards {
        float: right;
        margin-right: 4%;
    }
}

@media (min-width: 1445px) {
    .main-cards {
        float: right;
        margin-right: 7%;
    }
}

@media (min-width: 1545px) {
    .main-cards {
        float: right;
        margin-right: 10%;
    }
}

@media (min-width: 1920px) {
    .main-cards {
        float: right;
        margin-right: 20%;
    }
}

@media (min-width: 1961px) {
    .main-cards {
        float: right;
        margin-right: 19%;
    }
}

@media (min-width: 2274px) {
    .main-cards {
        float: right;
        margin-right: 24%;
    }
}

@media (min-width: 2258px) {
    .main-cards {
        float: right;
        margin-right: 25%;
    }
}*/
